extends ../layout

block content
  .container
    h1.page-header 예약 리스트
    
      //- | total #{pagination.numPosts} posts
    table.table.table-bordered
      thead
        tr
          th checkin
          th checout
          th 숙박 인원
          th 신청 날짜
          th
      tbody
        each post in posts
          tr
            td= post.checkin
            td= post.checout
            td=post.people 
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-xs.btn-default(href ) 예약 확인 하기
              | 
              a.btn.btn-xs.btn-default(href) 예약 받지 않기

    //- a.btn.btn-primary(href='/posts/new') 글쓰기